@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-cream text-secondary font-sans antialiased;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}
